.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-size: 2em;
  font-weight: 700;
}

.table {
  width: 60vw;
  height: 60vw;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;

  text-align: center;
  font-size: 2em;
}

.cell {
  border: 1px gray solid;
  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  cursor: pointer;
}

.target {
  font-weight: 700;
}
